*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.03em;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    --borderPl: rgb(255, 186, 0);
}

body{
    width: 705px;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
}

.maintenance{
    height: 200px;
    color: rgb(255, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.maintenance div button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255, 186, 0);
}

.formLogin{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.formLogin div{
    text-align: center;
}

.formLogin div a img{
    margin-bottom: 10px;
}

.formLogin div div input{
    padding: 5px 10px;
    width: 245px;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
}

.formLogin div div .login{
    padding: 5px 14px;
    width: 125px;
    margin-right: 11px;
    cursor: pointer;
    background-color: rgb(255, 186, 0);
    transition: background-color 200ms;
}

.formLogin div div .login:hover{
    background-color: rgb(255, 230, 0);
}

.formLogin div div a{
    color: white;
    font-size: .8em;
    transition: color 200ms;
}

.formLogin div div a:hover{
    color: rgb(72, 197, 255);
}

.formLogin div p{
    background-color: rgb(255, 70, 70);
    color: white;
    width: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11.5em;
}

.header div form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.header div form label{
    color: white;
    background-color: rgb(25, 129, 25);
    font-size: .9em;
    border-radius: 10px;
    padding: 3.5px 15px;
}
.header div form input{
    background-color: rgb(255, 70, 70);
    font-size: .9em;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    transition: transform 200ms;
}

.header div form input:hover{
    transform: scale(1.1);
}

.content{
    margin: 2em 0;
    text-align: center;
}

.content .player{
    height: 300px;
}

.content .player img{
    opacity: .7;
    margin-top: -120px;
}

.content .secondlayer{
    display: flex;
    margin-top: 1em;
    height: 150px;
    gap: 1em;
}

.content .game{
    width: 33%;
}
.content .tournament{
    width: 33%;
}

.content .organization{
    width: 33%;
}

.content .text .crop{
    width: 375px;
    height: 200px;
    margin-top: -25px;
    margin-left: -70px;
    opacity: .7;
}

.content .text{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgb(196, 196, 196);
}

.content .text img{
    transition: opacity 200ms;
}

.content .text label{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.5em;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(41, 41, 41);
    cursor: pointer;
    transition: transform 500ms;
    transform-origin: bottom;
}

.content .text:hover img{
    opacity: .5;
}

.content .text:hover label{
    transform: scale(1.2);
}

.content .title{
    color: white;
    font-size: 2em;
    padding: 10px 0;
    margin: 10px 0;
}

.content .data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: normal;
    gap: 2em;
}

.content .data .pdata{
    border: 1px solid var(--borderPl);
    border-radius: 20px;
    width: 200px;
    height: 160px;
    position: relative;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
}

.content .data .pdata img{
    width: 180px;
}

.content .data .pdata .name{
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    background-color: var(--borderPl);
    padding: 5px 0px;
}

.content .data .pdata .name input{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.content .details{
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
    color: white;
    font-weight: bold;
}

.content .details label{
    font-style: italic;
    font-weight: normal;
}